@using JobSearchApp.BusinessLogic.DTOs

@model SeeAllDto

<link rel="stylesheet" href="~/css/preference.css" type="text/css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


<div class="title-edit-container">
    <h1>MIS INTERESES</h1>
    <a asp-controller="Interest" asp-action="EditListInterestPage" class="btn btn-primary">Editar</a>
</div>

<div class="preference-tags">
    @foreach (var interest in Model.UserInterests)
    {
        <span class="tag ms-3">@interest.InterestText</span>
    }
</div>

<br />
<br />
<br />

<div class="title-edit-container">
    <h1>MIS PREFERENCIAS</h1>
    <a asp-controller="Preference" asp-action="EditListPreferencePage" class="btn btn-primary">Editar</a>
</div>

<div class="preference-tags">
    @foreach (var preference in Model.UserPreferences)
    {
        <span class="tag ms-3">@preference.Value</span>
    }
</div>

<br />
<br />
<br />

<div class="title-edit-container">
    <h1>MIS SOFT SKILLS</h1>
    <a asp-controller="HardSoftSkills" asp-action="EditListHardSoftSkillsPage" class="btn btn-primary">Editar</a>
</div>

<div class="preference-tags">
    @foreach (var skills in Model.UserSkills)
    {
        @if (skills.Skill.SkillType == "Soft")
        {
            <span class="tag ms-3">@skills.Skill.SkillName</span>
        }
    }
</div>

<br />
<br />
<br />

<div class="title-edit-container">
    <h1>MIS HARD SKILLS</h1>
</div>

<div class="preference-tags">
    @foreach (var skills in Model.UserSkills)
    {
        @if (skills.Skill.SkillType == "Hard")
        {
            <span class="tag ms-3">@skills.Skill.SkillName</span>
        }
    }
</div>