<br />
<div class="name-input">
    <input class="form-control" type="text" name="FirstName" class="validate-input" placeholder="Nombre Empresa" required />
    <span class="error-message"></span>
</div><br />

<div class="name-input">
    <input class="form-control" type="text" name="FoundedYear" class="validate-input" placeholder="Año Fundación" required />
    <span class="error-message"></span>
</div>
<br />

<div class="name-input">
    <input class="form-control" type="text" name="Email" class="validate-input" placeholder="Correo" required/>
    <span class="error-message"></span>
</div>
<br />

<div class="name-input">
    <input class="form-control" type="text" name="UserName" class="validate-input" placeholder="Nombre Usuario" required />
    <span class="error-message"></span>
</div>
<br />

<div class="name-input">
    <input class="form-control" type="password" name="PasswordHash" class="validate-input" placeholder="Constraseña" required />
    <span class="error-message"></span>
</div>
<br />

<div class="name-input">
    <input class="form-control" type="password" class="validate-input" placeholder="Confirmar Contraseña" required />
    <span class="error-message"></span>
</div><br />

<a href="/Auth/LoginPage" class="text-decoration-none">¿Ya Tienes Cuenta?</a>
<br />
<br />

<div class="submit-button">
    <button type="submit" class="btn btn-primary w-100">Registrarse</button>
</div>
