@using JobSearchApp.BusinessLogic.DTOs
@if (ViewBag.Role == "recruiter")
{
    <h1>Registro Reclutador</h1>
}
else
{
    <h1>Registro Candidato</h1>
}
<br />

<input type="hidden" name="role" value="@ViewBag.Role" />

<div class="name-input">
    <input class="form-control" type="text" name="FirstName" class="validate-input" placeholder="Nombre"/>
    <span class="error-message"></span>
</div><br />

<div class="name-input">
    <input class="form-control" type="text" name="LastName" class="validate-input" placeholder="Apellido" />
    <span class="error-message"></span>
</div>
<br />


<div class="name-input">
    <input class="form-control" type="text" name="Email" class="validate-input" placeholder="Correo" />
    <span class="error-message"></span>
</div>
<br />

<div class="name-input">
    <input class="form-control" type="text" name="UserName" class="validate-input" placeholder="Nombre Usuario" />
    <span class="error-message"></span>
</div>
<br />

<div class="name-input">
    <input class="form-control" type="password" name="PasswordHash" class="validate-input" placeholder="Contraseña" />
    <span class="error-message"></span>
</div>
<br />

<div class="name-input">
    <input class="form-control" type="password" class="validate-input" placeholder="Confirmar Contraseña" />
    <span class="error-message"></span>
</div>
<br />

@if (ViewBag.Role == "recruiter")
{
    <select class="form-select" aria-label="Default select example" name="CompanyId">
        @foreach (CompanyDto company in Model)
        {
            <option value="@company.CompanyId">@company.Name</option>
        }
    </select>
    <br />
}

<a href="/Auth/LoginPage" class="text-decoration-none">¿Ya Tienes Cuenta?</a>
<br /><br />

<div class="submit-button">
    <button class ="btn btn-primary w-100" type="submit">Registrarse</button>
</div>
