@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<input type="hidden" name="role" value="@ViewBag.Role" />

<div class="name-label">
    <label for="name" class="form-label">Nombre</label>
</div>
<div class="name-input">
    <input type="text" name="Name" class="validate-input" />
    <span class="error-message"></span>
</div>

<div class="name-label">
    <label for="lastname" class="form-label">Apellido</label>
</div>
<div class="name-input">
    <input type="text" name="LastName" class="validate-input" />
    <span class="error-message"></span>
</div>

<div class="name-label">
    <label class="form-label">Correo</label>
</div>
<div class="name-input">
    <input type="text" name="Email" class="validate-input" />
    <span class="error-message"></span>
</div>

<div class="name-label">
    <label class="form-label">Nombre Usuario</label>
</div>
<div class="name-input">
    <input type="text" name="UserName" class="validate-input" />
    <span class="error-message"></span>
</div>

<div class="name-label">
    <label class="form-label">Contraseña</label>
</div>
<div class="name-input">
    <input type="text" name="PasswordHash" class="validate-input" />
    <span class="error-message"></span>
</div>

<div class="name-label">
    <label class="form-label">Confirmar Contraseña</label>
</div>
<div class="name-input">
    <input type="text" class="validate-input" />
    <span class="error-message"></span>
</div>


<div class="submit-button">
    <button type="submit">Registrarse</button>
</div>
