@using JobSearchApp.BusinessLogic.DTOs

@model FeedbackDto

@if (Model != null)
{
    <h1>@Model.FeedbackText</h1>

    <a class="btn btn-primary" href="@ViewBag.ReturnUrl">Volver</a>
}
else
{
    <h1>Aun no tienes feedback, sigue postulandote!</h1>
}
