@using JobSearchApp.BusinessLogic.DTOs

@model UserDto

<h1>Hola @Model.UserName</h1>
<h1>Eres @Model.RoleName</h1>

@if (Model.RoleName == "Candidato")
    @Html.Partial("~/Views/Shared/Home/_HomeCandidatePage.cshtml")
else
    @Html.Partial("~/Views/Shared/Home/_HomeBusinessRecruiterPage.cshtml")