<link href="~/css/carrousel.css" rel="stylesheet">

<div class="container marketing" >

    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Encuentra trabajo de forma rápida y fácil. <span class="text-muted"> Con Swipe4Work.</span></h2><br />
            <p class="lead">Swipe4Work revoluciona la búsqueda de empleo al ofrecer una experiencia intuitiva y similar a las aplicaciones de citas. Con solo deslizar, puedes explorar una amplia variedad de oportunidades laborales adaptadas a tus intereses y habilidades.</p>
            <p class="lead">Nuestra plataforma combina tecnología avanzada con una interfaz amigable, permitiéndote conectar rápidamente con empleadores y encontrar el trabajo ideal en cuestión de minutos. ¡Haz que tu búsqueda de empleo sea más eficiente y emocionante con Swipe4Work!</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img style="border-radius: 20px;" src="~/lib/img/swipe.jpeg" alt="Swipe4Work en acción" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto shadow" width="500" height="500" width="500" height="500">
        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">Nuestra Historia</h2>
            <h3><span class="text-muted">Quienes somos?</span></h3>
            <p class="lead">Somos Tarik Aabouch, Cathy Cardenas y Jaymarc Paragas, un equipo de Fundación Esplai, formados en la programación y mejorando cada dia en base a buenas practicas y una programación dinámica.</p>
            <h3><span class="text-muted">¿Donde surge la idea?</span></h3>
            <p class="lead">La idea nace de la necesidad de crear un espacio inclusivo y justo en el proceso de búsqueda de empleo, donde las habilidades y experiencias sean lo que realmente importa. En un mundo donde la apariencia y la edad a menudo pueden influir en las decisiones de contratación, esta plataforma se enfoca en conectar a candidatos y empleadores de manera equitativa, eliminando los sesgos visuales y de edad.</p>
            <h3><span class="text-muted">¿Qué pretendemos conseguir con esto?</span></h3>
            <p class="lead">La idea nace de la necesidad de crear un espacio inclusivo y justo en el proceso de búsqueda de empleo, donde las habilidades y experiencias sean lo que realmente importa. En un mundo donde la apariencia y la edad a menudo pueden influir en las decisiones de contratación, esta plataforma se enfoca en conectar a candidatos y empleadores de manera equitativa, eliminando los sesgos visuales y de edad.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto shadow" width="500" height="500" src="~/lib/img/equipo.jpeg" alt="Alternate Text" style="border-radius: 20px;" />
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle shadow" width="140" height="140" src="~/lib/img/tarik.jpeg" alt="Alternate Text" />

            <h2>Tarik</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle shadow" width="140" height="140" src="~/lib/img/cathy.png" alt="Alternate Text" />

            <h2>Cathy</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle shadow" width="140" height="140" src="~/lib/img/jmarc.jpeg" alt="Alternate Text" />

            <h2>Jay Marc</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
