@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row mb-5"></div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex justify-content-center">
            <a class="btn btn-primary" href="RegisterRecruiterOrCandidatePage">Candidato</a>
            <a class="btn btn-primary" href="RegisterRecruiterOrCandidatePage">Reclutador</a>
            <a class="btn btn-primary" href="RegisterBusinessPage">Empresa</a>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row mt-5"></div>
</div>
