
<link rel="stylesheet" href="~/css/preference.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="title-edit-container">
	<h1>MIS PREFERENCIAS</h1>
	<button type="button" class="btn btn-primary">Ver Todo</button>
</div>

<div class="preference-tags">
	<span class="tag">
		Tecnología
		<i class="fa fa-pencil edit-icon ms-3" aria-hidden="true"></i>
		<i class="fa fa-times delete-icon ms-3" aria-hidden="true"></i>
	</span>
	<span class="tag">
		Horario Flexible
		<i class="fa fa-pencil edit-icon ms-3" aria-hidden="true"></i>
		<i class="fa fa-times delete-icon ms-3" aria-hidden="true"></i>
	</span>
	<span class="tag">
		Trabajo Dinámico
		<i class="fa fa-pencil edit-icon ms-3" aria-hidden="true"></i>
		<i class="fa fa-times delete-icon ms-3" aria-hidden="true"></i>
	</span>
	<span class="tag">
		Barcelona
		<i class="fa fa-pencil edit-icon ms-3" aria-hidden="true"></i>
		<i class="fa fa-times delete-icon ms-3" aria-hidden="true"></i>
	</span>
	<span class="tag">Trabajo Telemático/Presencial</span>
	<span class="tag">Ejemplo 1</span>
	<span class="tag">Ejemplo 2</span>
	<span class="tag">Trabajo Telemático/Presencial</span>
	<span class="tag">Trabajo Telemático/Presencial</span>
	<span class="tag">Trabajo Telemático/Presencial</span>
	<span class="tag">Trabajo Telemático/Presencial</span>
	<span class="tag">Trabajo Telemático/Presencial</span>
	<span class="tag">Trabajo Telemático/Presencial</span>
	<span class="tag">Trabajo Telemático/Presencial</span>
</div>
<div class="input-container mt-5">
	<h4 style="color: #1F4D78; font-weight: bold;" class="mt-4">Nombre Interés</h4>
	<form>
		<div class="custom-form-group">
			<input type="text" class="custom-form-control" placeholder="Ingrese el nombre">
		</div>
		<button type="submit" class="btn btn-primary mt-4">Añadir</button>
	</form>
</div>
