@model JobSearchApp.BusinessLogic.DTOs.DeleteJobOfferDto

<link rel="stylesheet" href="~/css/jobOffer.css" type="text/css" />
<div class="button-filter">
	<button type="button" class="btn btn-primary">Filtro</button>
	<button type="button" class="btn btn-primary">Vista Lista</button>
</div>


<div class="job-offers">
    <div class="job-offer-card">
        <h3>Oferta creada</h3>
        <p>Número de solicitudes</p>
        <p>Descripción</p>
        <div class="description-placeholder"></div>
        <button class="edit-button">✏️</button>
    </div>
    <!-- Repeat the .job-offer-card div for more offers -->
    <div class="job-offer-card">
        <h3>Oferta creada</h3>
        <p>Número de solicitudes</p>
        <p>Descripción</p>
        <div class="description-placeholder">
            <!-- Añadir la descripcion que contiene el job offer a la hora de recorrer la lista -->
        </div>
        <button class="edit-button">✏️</button>
    </div>
    <!-- Add more job offer cards as needed -->
</div>
