@model IEnumerable<JobSearchApp.BusinessLogic.DTOs.JobOfferDto>

<link rel="stylesheet" href="~/css/jobOffer.css" type="text/css" />
<div class="button-filter">
	<button type="button" class="btn btn-primary">Filtro</button>
	<button type="button" class="btn btn-primary">Vista Lista</button>
</div>

<div class="job-offers">
    <!-- Repeat the .job-offer-card div for more offers -->
    @foreach (var jobOffer in Model)
    {
        <div class="job-offer-card">
            <h3>@jobOffer.Title</h3>
            <p>@jobOffer.PostedDate</p>
            <p>@jobOffer.Description</p>
            <div class="description-placeholder">
                <!-- Añadir la descripcion que contiene el job offer a la hora de recorrer la lista -->
            </div>
            <button class="edit-button">✏️</button>
        </div>
    }
    <!-- Add more job offer cards as needed -->
</div>
