@using JobSearchApp.BusinessLogic.DTOs

@model IEnumerable<JobOfferDto>

@foreach (JobOfferDto jo in Model)
{
    <link rel="stylesheet" href="~/css/cardsJobOffers.css" type="text/css" />
    <div class="job-card">
        <h3>@jo.Title</h3>
        <div class="tags">
            <span class="tag">Tecnología</span>
            <span class="tag">Contrato</span>
            <span class="tag">Ubicación</span>
            <span class="tag">Salario</span>
        </div>
        <p>Descripción</p>
        <div class="description-placeholder">
            <!-- Descripcion que tendra el puesto de trabajo -->
        </div>
        <div class="action-buttons">
            <button class="action-button reject">✖️</button>
            <button class="action-button save">🔖</button>
            <button class="action-button accept">✔️</button>
        </div>
    </div>
}




