<form action="/JobOffers/LikeJobOffer" method="post">
    <div class="userId-input">
        <label>User ID: </label>
        <input type="number" name="userId" />
    </div>
    <div class="jobOfferId-input">
        <label>Job Offer ID: </label>
        <input type="number" name="jobOfferId" />
    </div>
    <div class="submit">
        <button type="submit">Submit</button>
    </div>
</form>