@model JobSearchApp.BusinessLogic.DTOs.UpdateJobOfferDto

<form asp-action="UpdateJobOffer" method="post">
    <div class="form-group">
        <label for="CompanyId">Compañia ID</label>
        <input type="number" id="CompanyId" name="CompanyId" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Title">Titulo de la oferta</label>
        <input type="text" id="Title" name="Title" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Description">Descripción</label>
        <textarea id="Description" name="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="Location">Ubicación</label>
        <input type="text" id="Location" name="Location" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="JobType">Tipo de Trabajo</label>
        <input type="text" id="JobType" name="JobType" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="ExperienceLevel">Nivel de Experiencia</label>
        <input type="text" id="ExperienceLevel" name="ExperienceLevel" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="ExpiredDate">Fecha de Finalización</label>
        <input type="date" id="ExpiredDate" name="ExpiredDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="MinSalary">Salario Mínimo</label>
        <input type="number" id="MinSalary" name="MinSalary" class="form-control" step="0.01" />
    </div>
    <div class="form-group">
        <label for="MaxSalary">Salario Máximo</label>
        <input type="number" id="MaxSalary" name="MaxSalary" class="form-control" step="0.01" />
    </div>
    <button type="submit" class="btn btn-primary">Modificar Oferta de Trabajo</button>
</form>
