.footer-content {
    background-color: #1F4D78;
    color: #FFFFFF;
    position: relative; /* Ensures that the <hr> can be positioned absolutely */
}

.footer-links {
    padding: 0; /* Remove any extra padding */
    margin: 0; /* Remove any extra margin */
}

    .footer-links a {
        color: #FFFFFF;
        text-decoration: none;
        padding: 0; /* Remove padding on links */
        margin: 0; /* Remove margin on links */
    }

        .footer-links a:hover {
            text-decoration: underline;
        }

h3 {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

/* Move "Danos tu feedback" to the right */
.footer-content .col-md-4:nth-child(3) {
    padding-left: 180px; /* Adjust as needed */
}

/* Add space between "Cerrar Sesión" and <hr> */
.footer-content .col-md-4:first-child {
    padding-bottom: 30px; /* Adjust as needed for spacing */
}

.footer-content hr {
    border-top: 1px solid #B3B3B3;
    width: 90%; /* Width of 90% of the parent container */
    margin: 15px auto; /* Center the <hr> horizontally */
    position: absolute; /* Position absolutely to control height */
    bottom: 15px; /* Space from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to ensure centering */
}
