@using JobSearchApp.BusinessLogic.DTOs

@model IEnumerable<InterestDto>

<link rel="stylesheet" href="~/css/preference.css" type="text/css" />

<div class="title-edit-container">
    <h1>MIS INTERESES</h1>
    <button type="button" class="btn btn-primary">Editar</button>
</div>

<div class="interest-tags">
    @foreach (var interest in Model)
    {
        <span class="tag ms-3">@interest.InterestText</span>
    }
</div>