html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

footer {
    width: 100% !important;
}

/* Target the footer links */
.footer-links a {
    color: #ffffff !important;/* Set the color to white */
    text-decoration: none; /* Remove underline */
    font-weight: normal; /* Ensure normal font-weight */
}

    .footer-links a:hover {
        text-decoration: underline; /* Optional: add underline on hover */
    }

/* Remove any list styling and margin/padding */
.footer-links {
    padding: 0;
    margin: 0;
    list-style: none; /* Removes bullet points */
}

#username{
    color:white;

}

#contactLink{
    margin-right: 20px;
}