@{
    ViewData["Title"] = "Profile Form";
}

<div class="container mt-5">
    <div class="card" style="max-width: 600px; margin: auto; border-radius: 10px; background-color: #F5F5F5;">
        <div class="card-body text-center">
            <h5 style="color: #1F4D78">Restablecer Contraseña</h5>
            <div class="form-group">
                <br />
                <input type="email" class="form-control" id="email" placeholder="Correo" style="background-color: #E3E4E8;" required>
                <br />
            </div>
            <!-- Submit Button -->
            <a href="~/Auth/LoginPage" class="btn btn-primary" style="background-color: #1F4D78; color: #FFFFFF; width: 100%; border-radius: 20px;">
                Enviar</a>
            <!-- Resend Email Link -->
            <a href="#" class="d-block mt-3" style="color: #1F4D78; text-decoration: underline;">Reenviar correo</a>
        </div>
    </div>
</div>
