<div class="container" style="margin-top: 1%; margin-bottom: 10%;">
    <div class="row">
        <div style="background-color: #F5F5F5;  border-radius: 15px 0px 0px 15px;" class="col-md-5  p-5">
            <h1 class="mb-4">Inicio de Sesión</h1>
            <form style="margin-bottom: 50%;" action="/Auth/AuthenticateUser" method="post">
                <div class="mb-3">
                    <input style="color: #1F4D78;" class="form-control" type="text" name="username" placeholder="Usuario" required>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>
                <div class="mb-3">
                    <a href="~/Auth/ForgotPasswordPage" class="text-decoration-none">Contraseña olvidada</a>
                </div>
                <div class="mb-3">
                    <a href="/Auth/SelectEntityOptionPage" class="text-decoration-none">¿No Tienes Cuenta?</a>
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
            </form>
        </div>
        <div style="background-color: #1F4D78; border-radius: 0px 15px 15px 0px;" class="col-md-7 bg-custom-blue text-white p-5">
            <h5 style="font-weight:bold;" class="display-4">Encuentra tu próximo<br /> reto profesional con Swipe4Work</h5>
        </div>
    </div>
</div>



