<form action="/Auth/AuthenticateUser" method="post">
    <div>
        <input type="text" id="username" name="username" placeholder="Usuario" required>
    </div>
    <br />
    <div>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
    </div>
    <br />
    <a href="/Auth/SelectEntityOptionPage">¿No tienes cuenta?</a>
    <div>
        <button type="submit">Añadir animal</button>
    </div>
</form>