@using JobSearchApp.BusinessLogic.DTOs
@model List<CompanyDto>

<div class="container">
    <div class="row">
        <div class="col-md-6 p-0">
            <!-- Remove padding from the columns -->
            <div class="container-form">
                <h1 id="title-form">Registro</h1>

                @if (ViewBag.Role == "business")
                {
                    <form class="validate-form" method="post" action="~/Auth/RegisterBusiness">
                        @Html.Partial("~/Views/Shared/Forms/Auth/_BusinessRegisterForm.cshtml")
                    </form>
                }
                else
                {
                    <form class="validate-form" method="post" action="~/Auth/RegisterCandidateOrRecruiter">
                        @Html.Partial("~/Views/Shared/Forms/Auth/_RecruiterOrCandidateRegisterForm.cshtml")
                    </form>
                }

            </div>
        </div>
        <div class="col-md-6 p-0">
            <!-- Remove padding from the columns -->
            <div class="welcome-container">
                <div class="welcome-content">
                    <h1>Bienvenido a Swipe4Work</h1>
                </div>
            </div>
        </div>
    </div>
</div>