<div class="container">
    <div class="row mb-5"></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 d-flex flex-column align-items-center" style="background-color: #F5F5F5; padding: 30px; border-radius: 20px;">
            <h1 style="color: #1F4D78; font-weight: bold; margin-bottom: 8%;">Selecciona tu identidad</h1>
            <div class="d-flex justify-content-between w-100">
                <a class="btn btn-primary btn-lg mx-2" href="RegisterUserPage/candidate" style="background-color: #1F4D78; border-radius: 15px; border: none; padding: 15px 30px; font-weight: bold; padding: 5%; font-size: 1.5em">Candidato</a>
                <a class="btn btn-primary btn-lg mx-2" href="RegisterUserPage/recruiter" style="background-color: #1F4D78; border-radius: 15px; border: none; padding: 15px 30px; font-weight: bold; padding: 5%;font-size: 1.5em">Reclutador</a>
                <a class="btn btn-primary btn-lg mx-2" href="RegisterUserPage/business" style="background-color: #1F4D78; border-radius: 15px; border: none; padding: 15px 30px; font-weight: bold; padding: 5%; font-size: 1.5em">Empresa</a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5"></div>
</div>
