@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col p-2">
            <div class="card p-5" style="background-color: #1F4D78; background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 style="color:white;" id="titleCard" class="card-title">Buscar Trabajo🔍💼</h3>
                    <p style="color:white;" class="card-text">Explora ofertas de trabajo en un formato interactivo y divertido. Desliza para encontrar tu próximo empleo.</p>
                    <a asp-area="" asp-controller="JobOffers" asp-action="CardsOfJobsOffersPage" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                        </svg> Empezar a Buscar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col p-2">
            <div class="card p-5" style="background-color: #dfefff; background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Postulaciones📄</h3>
                    <p class="card-text">Aquí puedes ver todas las aplicaciones que has enviado a las ofertas de trabajo.</p>
                    <a asp-area="" asp-controller="Application" asp-action="ListApplicationJobOfferPage" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                        </svg> Ver Aplicaciones
                    </a>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card p-5" style="background-color: #1F4D78; background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 style="color:white;" id="titleCard" class="card-title">Perfil Profesional🧑</h3>
                    <p style="color:white;" class="card-text">Visualiza y edita tu perfil para atraer a los mejores reclutadores.</p>
                    <a asp-area="" asp-controller="Profile" asp-action="ProfileOwnerUserPage" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                        </svg> Ver mi Perfil
                    </a>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card p-5" style="background-color: #dfefff; background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Mis Matches🤝</h3>
                    <p class="card-text">Conecta con los reclutadores que coinciden con tus postulaciones.</p>
                    <a asp-area="" asp-controller="Match" asp-action="ListOfMatchesPage" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                        </svg> Revisar Coincidencias
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col p-2">
            <div class="card p-5" style="background-color: #1F4D78; background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 style="color:white;" id="titleCard" class="card-title">Habilidades🛠️</h3>
                    <p style="color:white;" class="card-text">Gestiona y edita tu lista de Soft Skills y Hard Skills para atraer reclutadores.</p>
                    <a asp-area="" asp-controller="HardSoftSkills" asp-action="EditListHardSoftSkillsPage" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                        </svg> Editar Habilidades
                    </a>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card p-5" style="background-color: #dfefff; background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Mis Preferencias⚙️</h3>
                    <p class="card-text">Gestiona tus preferencias para personalizar tu experiencia.</p>
                    <a asp-area="" asp-controller="Preference" asp-action="EditListPreferencePage" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                        </svg> Editar Preferencias
                    </a>
                </div>
            </div>
        </div>
        <div class="col p-2">
            <div class="card p-5" style="background-color: #1F4D78; background-size: cover; background-position: center;">
                <div class="card-body" style="color:white;">
                    <h3 id="titleCard" class="card-title">Mis Intereses⭐</h3>
                    <p class="card-text">Revisa y actualiza tus intereses para reflejar mejor tus pasiones y preferencias.</p>
                    <a asp-area="" asp-controller="Interest" asp-action="EditListInterestPage" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                        </svg> Editar Intereses
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
