@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col p-3">
            <div class="card p-3" style="background-image: url('https://i.blogs.es/e1feab/google-fotos/1366_2000.jpg'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Buscar Trabajo</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-area="" asp-controller="JobOffers" asp-action="CardsOfJobsOffersPage" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col p-3">
            <div class="card p-3" style="background-image: url('https://i.blogs.es/e1feab/google-fotos/1366_2000.jpg'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Special title treatment</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-area="" asp-controller="JobOffers" asp-action="ListOfJobsAppliedPage" class="btn btn-primary">Ver Aplicaciones</a>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card p-3" style="background-image: url('https://i.blogs.es/e1feab/google-fotos/1366_2000.jpg'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Special title treatment</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-area="" asp-controller="Profile" asp-action="ProfileOwnerUserPage" class="btn btn-primary">Ver mi Perfil</a>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card p-3" style="background-image: url('https://i.blogs.es/e1feab/google-fotos/1366_2000.jpg'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Special title treatment</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-area="" asp-controller="Match" asp-action="ListOfMatchesPage" class="btn btn-primary">Mis Matches</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col p-3">
            <div class="card p-3" style="background-image: url('https://i.blogs.es/e1feab/google-fotos/1366_2000.jpg'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Special title treatment</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-area="" asp-controller="HardSoftSkills" asp-action="EditListHardSoftSkillsPage" class="btn btn-primary">Mis Hard & Soft Skills</a>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card p-3" style="background-image: url('https://i.blogs.es/e1feab/google-fotos/1366_2000.jpg'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Special title treatment</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-area="" asp-controller="Preference" asp-action="ListPreferencePage" class="btn btn-primary">Mis Preferencias</a>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card p-3" style="background-image: url('https://i.blogs.es/e1feab/google-fotos/1366_2000.jpg'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <h3 id="titleCard" class="card-title">Special title treatment</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-area="" asp-controller="Interest" asp-action="ListInterestPage" class="btn btn-primary">Mis Intereses</a>
                </div>
            </div>
        </div>
    </div>
</div>