.page-layout {
    padding: 20px;
}

/* Style for error message spans */
.error-message {
    color: red; /* Color for error messages */
    font-size: 14px; /* Font size for error messages */
    display: block; /* Ensure error message is on a new line */
    margin-top: 0; /* Remove margin at the top */
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #7AA5CD;
    border-radius: 30px;
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
}

.question-container {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
}

.question-container:hover {
    background-color: #f0f0f0;
}

.question-list, #question-details {
    margin: 20px 0;
}
