@using JobSearchApp.BusinessLogic.DTOs

@model IEnumerable<UserSkillDto>

<link rel="stylesheet" href="~/css/preference.css" type="text/css" />

<div class="title-edit-container">
    <h1>MIS SOFT SKILLS</h1>
    <button type="button" class="btn btn-primary">Editar</button>
</div>

<div class="preference-tags">
    @foreach (var skills in Model)
    {
        @if (skills.Skill.SkillType == "Soft")
        {
            <span class="tag ms-3">@skills.Skill.SkillName</span>
        }
    }
</div>

<br />
<br />
<br />

<div class="title-edit-container">
    <h1>MIS HARD SKILLS</h1>
    <button type="button" class="btn btn-primary">Editar</button>
</div>

<div class="preference-tags">
    @foreach (var skills in Model)
    {
        @if (skills.Skill.SkillType == "Hard")
        {
            <span class="tag ms-3">@skills.Skill.SkillName</span>
        }
    }
</div>