<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/components/navbar.css" rel="stylesheet" />
</head>
<body>
    <nav style="background-color: #1F4D78;" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" href="#">Informaciónn</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" href="#" tabindex="-1" aria-disabled="true">Equipo</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <button onclick="loginPage()" class="btn btn-primary">Iniciar Sessión</button>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

</body>
</html>